doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  link(rel='stylesheet' href='/dashboard.css')
  title Agric Officer
  link(rel='x-icon' type='image/x-icon' href='/img/images/favicon.ico')
#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper.bg-white
    .sidebar-heading.text-center.py-4.primary-text.fs-4.fw-bold.text-uppercase.border-bottom
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    .list-group.list-group-flush.my-3
      a.list-group-item.list-group-item-action.bg-transparent.second-text.active(href='#')
        i.fas.fa-tachometer-alt.me-2
        | Dashboard
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/farmeronelist')
        i.fas.fa-project-diagram.me-2
        | Farmer Ones 
      //- a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/urbanfarmerlist')
      //-   i.fas.fa-chart-line.me-2
      //-   | Urban farmers
      //- a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/approvedlist')
      //-   i.fas.fa-paperclip.me-2
      //-   | Approved Products
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='')
        i.fas.fa-shopping-cart.me-2
        | Bookings and order
      //- a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/reports')
      //-   i.fas.fa-gift.me-2
      //-   | Reports
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='#')
        i.fas.fa-comment-dots.me-2
        | Delivery
      //- a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/appointed')
      //-   i.fas.fa-comment-dots.me-2
      //-   | Appoint farmerone
      //- a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='listofrejected')
      //-   i.fas.fa-comment-dots.me-2
      //-   | Rejected farmerones
  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.py-4.px-4
      .d-flex.align-items-center
        i#menu-toggle.fas.fa-align-left.primary-text.fs-4.me-3
        h2.fs-2.m-0 Dashboard
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle.second-text.fw-bold(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              i.fas.fa-user.me-2    #{currentuser.firstname+" " + currentuser.secondname}
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              form(action="/logout" method="POST") 
                 button(type='submit') logout
    .container-fluid.px-4
      .row.g-3.my-2
        .col-md-3
          .p-3.bg-white.shadow-sm.d-flex.justify-content-around.align-items-center.rounded
            div
              h4 farmer ones  #{farmerOnes}
            //- i.fas.fa-gift.fs-1.primary-text.border.rounded-full.secondary-bg.p-3
        .col-md-3
          .p-3.bg-white.shadow-sm.d-flex.justify-content-around.align-items-center.rounded
            div
              h4 Urban farmers #{urbanFarmers}
            //- i.fas.fa-hand-holding-usd.fs-1.primary-text.border.rounded-full.secondary-bg.p-3
        .col-md-3
          .p-3.bg-white.shadow-sm.d-flex.justify-content-around.align-items-center.rounded
            div
              h4 Customers #{customers}
            //- i.fas.fa-truck.fs-1.primary-text.border.rounded-full.secondary-bg.p-3

        .accordion-item
          h2#headingThree.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
              | View Total Report
          #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
            .accordion-body
              h1 Report
              .container
                  .row
                      .col-md-3.mx-4
                          h4.mb-5 Poultry Report
                              .card.card-custom.mx-2.mb-3(style='width: 18rem;')
                                  .card-body
                                      h6 Products Quantity: #{totalP.totalQuantity}  
                                      h6 Revenue Projection: #{new Intl.NumberFormat().format(totalP.totalCost)} UGX

                                    
                                      p.card-text            
                      .col-md-3.mx-4
                          h4.mb-5 Dairy Report
                              .card.card-custom.mx-2.mb-3(style='width: 18rem;')
                                  .card-body
                                      h6 Products Quantity: #{totalD.totalQuantity}
                                      h6 Revenue Projection: #{new   Intl.NumberFormat().format(totalD.totalCost)} UGX

                                      p.card-text
                          
                      .col-md-3.mx-4
                          h4.mb-5 Horticulture Report
                              .card.card-custom.mx-2.mb-3(style='width: 18rem;')
                                  .card-body
                                      h6 Products Quantity: #{totalH.totalQuantity}
                                      h6 Revenue Projection: #{new   Intl.NumberFormat().format(totalH.totalCost)} UGX 
                                          
                                      p.card-text 
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js')
        script.
          var el = document.getElementById("wrapper");
          var toggleButton = document.getElementById("menu-toggle");
          toggleButton.onclick = function () {
          el.classList.toggle("toggled");
          };
