doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Product List
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='main.css')


h1 Report
.container
    .row
        .col-md-3.mx-4
            h4.mb-5 Poultry Report
                .card.card-custom.mx-2.mb-3(style='width: 18rem;')
                    .card-body
                        h6 Products Quantity: #{totalP.totalQuantity}
                        h6 Revenue Projection: #{new Intl.NumberFormat().format(totalP.totalCost)} UGX

                       
                        p.card-text            
        .col-md-3.mx-4
            h4.mb-5 Dairy Report
                .card.card-custom.mx-2.mb-3(style='width: 18rem;')
                    .card-body
                        h6 Products Quantity: #{totalD.totalQuantity}
                        h6 Revenue Projection: #{new   Intl.NumberFormat().format(totalD.totalCost)} UGX

                        p.card-text
            
        .col-md-3.mx-4
            h4.mb-5 Horticulture Report
                .card.card-custom.mx-2.mb-3(style='width: 18rem;')
                    .card-body
                        h6 Products Quantity: #{totalH.totalQuantity}
                        h6 Revenue Projection: #{new   Intl.NumberFormat().format(totalH.totalCost)} UGX 
                            
                        p.card-text
    

      //- .fouth-section
            //- h1.heading
            //- .container-fluid.sellingItems
            //-     .row.row-cols-2.row-cols-lg-5.g-2.g-lg-3.row2
            //-     if availableproducts.length > 0
            //-         each availableproduct in availableproducts
            //-         if availableproduct.status == "Approved" 
            //-             .d-flex
            //-             .col
            //-                 .top-selling
            //-                 .card.mycard
            //-                     img.card-img-top(src='/'+availableproduct.uploadimage, alt="image" width ='150px' height='150px')
            //-                     .card-body
            //-                     h5.card-title #{availableproduct.productname}
            //-                     h6.card-text
            //-                         | #{availableproduct.availability}
            //-                     h6.card-text #{availableproduct.producetype}
            //-                     h6.card-text #{availableproduct.farmerward}
                                
            //-                     if !currentuser
            //-                         a.btn.btn-primary(href='/public') Shop with us 
            //-                     if currentuser 
            //-                         a.btn.btn-primary(href='/sales') Shop with us 